@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/WOFF/OnestRegular1602-hint.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/WOFF/OnestExtraBold1602-hint.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/WOFF/OnestBold1602-hint.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/WOFF/OnestMedium1602-hint.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/WOFF/OnestLight1602-hint.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/WOFF/OnestThin1602-hint.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: Onest, sans-serif;
  color: #ffffff;
  height: 100vh;
}

#app {
  height: 100%;
}

.btn {
  @apply p-2.5 rounded-md;
}

.btn-login {
  @apply bg-eerie-black text-sm;
}

.btn-submit {
  @apply bg-white text-black text-base font-bold uppercase;
}

.input {
  @apply outline-none border-none rounded-md p-2.5 bg-dark-charcoal;
}
