@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestRegular1602-hint.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestBlack1602-hint.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestExtraBold1602-hint.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestExtraBold1602-hint.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestBold1602-hint.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestBold1602-hint.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestMedium1602-hint.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestMedium1602-hint.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestLight1602-hint.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestLight1602-hint.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestThin1602-hint.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./src/assets/fonts/onest/TTF/OnestThin1602-hint.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

body {
  font-family: Onest, sans-serif;
}

.btn {
  @apply p-2.5 rounded-md text-base font-bold;
}

.btn-login {
  @apply bg-eerie-black text-sm;
}

.btn-submit {
  @apply bg-white text-black uppercase;
}

.btn-submit-secondary {
  @apply bg-transparent text-white uppercase border-2;
}

.input {
  @apply outline-none border-none rounded-md p-2.5 bg-dark-charcoal;
}
